
$headerHeight: 100px;
$headerColor1: #c39e51;
$boundColor: #fff;
$textHeaderColor: #fff;
$itemSliderHeight: 500px;
$valueColor: #FF424E;

.app {
    background-color: $boundColor;
    height: auto;
    scroll-behavior: smooth;
    
}

body {
    background-image: url('/img/background_list.jpg');
}

#header {

    background-color: $headerColor1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    .header-text {
        font-size: 14px;
        font-weight: bold;
        color: $textHeaderColor;
    }

    

    .header-user {
        #login-text {
            font-size: 18px;
            margin-left: 8px;
            line-height: 38px;
        }
    }


    .func-list {
        z-index: 2;
        display: none;
        position: absolute;
        top: 75%;
        right: 4px;
        
        ul {
            padding-left: 0px;
            margin-bottom: 0;
            background-color:$headerColor1;
            border: 1px solid $textHeaderColor; 
            text-align: center;
            border-radius: 6px;
            box-shadow: 0 0 8px $textHeaderColor;
        }

        li {
            list-style-type: none;
            
            height: 40px;
            padding: 4px 16px;
            width: 150px;
        }

        li:hover {
           
            background-color: $textHeaderColor;
            a {
                color: $headerColor1;
            }
        }

        a {
            color:  $textHeaderColor;
            font-weight: bold;
            font-size: 16px;
        }

    }

    .header-list {
        z-index: 2;
        display: none;
        position: absolute;
        top: 75%;
        left: 200px; 
        
        
        ul {
            padding-left: 0px;
            margin-bottom: 0;
            background-color:$headerColor1;
            border: 1px solid $textHeaderColor; 
            text-align: center;
            border-radius: 6px;
            box-shadow: 0 0 8px $textHeaderColor;
        }

        li {
            list-style-type: none;
            
            height: 40px;
            padding: 4px 16px;
            width: 150px;
        }

        li:hover {
           
            background-color: $textHeaderColor;
            a {
                color: $headerColor1;
            }
        }

        a {
            color:  $textHeaderColor;
            font-weight: bold;
            font-size: 16px;
        }

    }

    .header-menu:hover #menu-list{
        display: block;
    }

    .header-user:hover #user-list {
        display: block;
    }

    .header-icon {
        position: relative;
    }
    .header-number {
        position: absolute;
        z-index: 2;
        top: 9px;
        left: 14px;
        background: red;
        color: #fff;
        font-size: 16px;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    
}

#main-header {
    width: 84%;
    // background-image: linear-gradient(90deg,#ffb141,#fb8d17);
    background-color: $headerColor1;
    height: $headerHeight;
    margin: 0 auto;

    #name-brand {
        color: $textHeaderColor;
    }

}

.header-menu,
.header-user {
    height: 40px;
    font-size: 13px;
    
}

.search-btn {
    margin-left: 12px;
    background-color: $headerColor1;
    color: $textHeaderColor;
    border: 1px solid #fff;
}

.search-btn:hover {
    color: $headerColor1;
    background-color: #fff;
    border: 1px solid $headerColor1;
}

.header-user {
    margin: 8px;
}

#header .header-icon {
    color: $textHeaderColor;
    font-size: 28px;
    margin: 0 8px;
    padding-top: 0;
}
// 
.container-fluid {
    padding: 0px 0px !important;
    justify-content: center;
    width: 84%;
    margin-top: 126px;
}

// -----------Slider------------- 

.carousel-control-next, .carousel-control-prev {
    top: 170px;
    bottom: 170px;
    color: $headerColor1;
}

#home-slider {
    margin-top: 32px;

    .carousel-item {
        text-decoration: none!important;
        img {
            height: $itemSliderHeight;
            object-fit: cover;
        }
    }


}

// ---------------home books------------------
.home-product {

    margin-top:32px; 
    background-image: linear-gradient(90deg, $headerColor1, #c1a531);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0 / 20%), 0 6px 20px 0 rgb(34, 2, 2);
    border-radius: 12px;

    .product-header {
        
        font-size: 40px;
        color: $textHeaderColor;
        padding: 8px 32px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        border-bottom: 4px solid $textHeaderColor;

        .product-icon {
            margin-left: 8px;
            font-size: 36px;
        }
    }

    
    .carousel-item {
        margin: 8px 0;
        height: 400px;
        padding: 0 8px;
        position: relative;

        box-shadow: 0 4px 8px 0 rgb(0, 0, 0 / 20%), 0 6px 20px 0 rgb(34, 2, 2);
        border-radius: 10;
        .panel-thumbnail {
            height: 220px;
            width: 100%;
        }

        .panel-thumbnail img {
            height: 220px;
            width: 100%;
            object-fit: cover;
        }

        .card {
            height: 180px;
            position: relative;
            background-color: #fff;
            

            .card-body {
                padding: 8px 12px;

            }

            .card-title {
                margin-bottom: 8px;
            }



            .book-author {
                font-size: 16px;
                margin-bottom: 8px;
            }
            
        }

        .card-link {
            position: absolute;
            bottom: 0;
        }

        .item-price {
            position: absolute;
            z-index: 2;
            bottom: 4%;


            .price-value,.discount-value {
                display: inline-block;
                color: $valueColor;
                font-weight: 500;
            }

            .discount-value {
                border: 1px solid $valueColor;
                font-size: 12px;
                margin-left: 6px;
                padding: 1px;
            } 
        }
    }



    .carousel-item:hover {
        box-shadow: 0 0 4px $textHeaderColor;
        text-decoration: none;
        color: $headerColor1;
    }

     /* show 3 items */
     .carousel-inner .active,
     .carousel-inner .active + .carousel-item,
     .carousel-inner .active + .carousel-item + .carousel-item,
     .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
         display: block;
     }
     
     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
         transition: none;
     }
     
     .carousel-inner .carousel-item-next,
     .carousel-inner .carousel-item-prev {
       position: relative;
       transform: translate3d(0, 0, 0);
     }
     
     .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
         position: absolute;
         top: 0;
         right: -25%;
         z-index: -1;
         display: block;
         visibility: visible;
     }

     
     /* left or forward direction */
     .active.carousel-item-left + .carousel-item-next.carousel-item-left,
     .carousel-item-next.carousel-item-left + .carousel-item,
     .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
     .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
     .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
         position: relative;
         transform: translate3d(-100%, 0, 0);
         visibility: visible;
     }
     
     /* farthest right hidden item must be abso position for animations */
     .carousel-inner .carousel-item-prev.carousel-item-right {
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         display: block;
         visibility: visible;
     }
     
     /* right or prev direction */
     .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
     .carousel-item-prev.carousel-item-right + .carousel-item,
     .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
     .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
     .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
         position: relative;
         transform: translate3d(100%, 0, 0);
         visibility: visible;
         display: block;
         visibility: visible;
     }

    
  
}

#home-image {
    margin: 16px 0;
    padding-top: 50%;
    background: url('/img/homeimage.jpg') center center / cover no-repeat;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0 / 20%), 0 6px 20px 0 rgb(34, 2, 2);
    border-radius:12px;
}

#footer {
    height: 350px;
    background-color: $headerColor1;
    color: $textHeaderColor;
    .brand-name {
        font-size: 24px;
        padding: 16px 0;
        font-weight: bold;
    }

    .slogan {
        padding-bottom: 24px;
    }


    .contact {
        width: 300px;
        margin: 0 auto;
    }

    .footer-icon {
        margin-right: 10px;
    }
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    color: #bf8c8c;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    color: #bf8c8c;
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.carousel-inner {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0 / 20%), 0 6px 20px 0 rgb(34, 2, 2);
    border-radius: 8px;
}

