<h1>Login<form method="POST" action='/auth/login'>
        <div class="form-group"><label for="email">Key</label><input class="form-control" id="email" name="key" type="text" value="" /></div>
        <div class="form-group"><label for="password">Password</label><input class="form-control" id="password" name="password" type="password" value="" /></div><button class="btn btn-primary">Login</button>
    </form>
</h1>