{{#each coffee}}
    <li>{{this.name}}</li>
<<<<<<< HEAD
    <a href="/coffee/{{this._id}}">Here</a>
{{/each}}

<h1>Cafe ffffff Long Ly quy Phungj</h1>
=======
    <a href="/coffee/{{this.slug}}">Here</a>
{{/each}}
>>>>>>> a6a24a8d26ac6af473c6a562a000ce1ed694cd26
