<div class="mt-4">
    <h3>Cập nhật cafe</h3>

    <form class="mt-4" method="POST" action="/coffee/{{coffee._id}}?_method=PATCH" enctype='multipart/form-data'>
        <div class="form-group">
            <label for="name">Tên sach</label>
            <input type="text" class="form-control" value="{{coffee.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{coffee.description}}</textarea>
        </div>

        <div class="form-group">
            <label for="">Image</label>
           <img src="{{coffee.image}}" alt="">
        </div>

         <div class="form-group">
            <label for=""> Bạn có thể cập nhật image</label>
            <input type="file" class="form-control" id="" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>