{{#each errors}}
    <p>{{this}}</p>
{{/each}}

<div class="mt-4">
    <h3>Thêm sách mới</h3>

    <form method="POST" action="/books/save" enctype='multipart/form-data'>
        <div class="form-group">
            <label for="name">Tiêu đề</label>
            <input type="text" class="form-control" id="name" name="title">
        </div>
        <div class="form-group">
            <label for="name">Tác giả</label>
            <input type="text" class="form-control" id="" name="author">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoId">Image</label>
            <input type="file" class="form-control" id="videoId" name="image">
        </div>

        <div class="form-group">
            <label for="">Price</label>
            <input type="text" class="form-control" id="" name="price">
        </div>

        <div class="form-group">
            <label for="level">Demo</label>
            <input type="text" class="form-control" id="level" name="body">
        </div>
         <div class="form-group">
            <label for="level">Số trang</label>
            <input type="text" class="form-control" id="level" name="no">
        </div>

        <button type="submit" class="btn btn-primary">Thêm mới sách</button>
    </form>
</div>