.app {
  background-color: #ccc;
  height: auto;
  scroll-behavior: smooth; }

#header {
  background-color: #8B4513; }
  #header .header-text {
    font-size: 14px;
    font-weight: bold; }
  #header .header-user, #header .header-menu {
    position: relative; }
  #header .header-list {
    background-color: #ccc;
    z-index: 2;
    display: none;
    position: absolute;
    top: 100%;
    left: 10px; }
    #header .header-list ul {
      padding-left: 0px;
      margin-bottom: 0;
      background-color: #8B4513;
      border: 1px solid #000;
      text-align: center; }
    #header .header-list li {
      list-style-type: none;
      height: 40px;
      padding: 4px 16px;
      width: 150px; }
    #header .header-list li:hover {
      color: #8B4513;
      background-color: #ccc; }
    #header .header-list a {
      color: #000;
      font-weight: bold;
      font-size: 16px; }
  #header .header-menu:hover #menu-list {
    display: block; }
  #header .header-user:hover #user-list {
    display: block; }
  #header .header-icon {
    position: relative; }
  #header .header-number {
    position: absolute;
    z-index: 2;
    top: 9px;
    left: 14px;
    background: red;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center; }
  #header a {
    text-decoration: none;
    color: #000; }

#main-header {
  width: 84%;
  background-color: #8B4513;
  height: 100px;
  margin: 0 auto; }
  #main-header #name-brand {
    color: #000; }

.header-menu,
.header-user {
  height: 40px;
  font-size: 13px; }

.header-user {
  margin: 8px; }

#header .header-icon {
  font-size: 28px;
  margin: 0 8px;
  padding-top: 6px; }

.container-fluid {
  padding: 0px 0px !important;
  justify-content: center;
  width: 84%;
  height: auto;
  background-color: #ccc; }

#home-slider {
  margin-top: 32px; }
  #home-slider .carousel-item img {
    height: 500px; }

.home-product {
  margin-top: 32px;
  background-image: linear-gradient(45deg, #EEE, #222222);
  /* show 3 items */
  /* left or forward direction */
  /* farthest right hidden item must be abso position for animations */
  /* right or prev direction */ }
  .home-product .product-header {
    font-size: 40px;
    color: #8B4513;
    padding: 8px 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; }
  .home-product .carousel-item {
    height: 400px;
    padding: 0 8px; }
    .home-product .carousel-item .panel-thumbnail {
      height: 200px; }
    .home-product .carousel-item .panel-thumbnail img {
      height: 200px; }
    .home-product .carousel-item .card {
      height: 200px;
      background-color: #000;
      color: #ccc;
      position: relative; }
    .home-product .carousel-item .card-link {
      position: absolute;
      bottom: 0; }
  .home-product .carousel-inner .active,
  .home-product .carousel-inner .active + .carousel-item,
  .home-product .carousel-inner .active + .carousel-item + .carousel-item,
  .home-product .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block; }
  .home-product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .home-product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .home-product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .home-product .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none; }
  .home-product .carousel-inner .carousel-item-next,
  .home-product .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0); }
  .home-product .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible; }
  .home-product .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .home-product .carousel-item-next.carousel-item-left + .carousel-item,
  .home-product .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .home-product .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .home-product .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  .home-product .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  .home-product .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .home-product .carousel-item-prev.carousel-item-right + .carousel-item,
  .home-product .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .home-product .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .home-product .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; }

#home-image {
  margin: 16px 0;
  padding-top: 50%;
  background: url("/img/homeimage.jpg") center center/cover no-repeat; }

#footer {
  height: 350px;
  background-color: pink; }
  #footer .brand-name {
    font-size: 24px;
    padding: 16px 0;
    font-weight: bold; }
  #footer .slogan {
    padding-bottom: 24px; }
  #footer .contact {
    width: 300px;
    margin: 0 auto; }
  #footer .footer-icon {
    margin-right: 10px; }
