#list-product-page {
  background-color: #a98654;
  margin-bottom: 20px;
  margin-top: 16px;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 #220202;
  border-radius: 8px; }
  #list-product-page .breadcrumb {
    background-color: #a98654; }
  #list-product-page .carousel-control-next, #list-product-page .carousel-control-prev {
    top: 50%; }
  #list-product-page .product-list-box {
    display: flex;
    justify-content: space-around; }
  #list-product-page * {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box; }
  #list-product-page a {
    text-decoration: none;
    color: #000; }
  #list-product-page li {
    list-style-type: none; }
  #list-product-page .product-category-box {
    width: 230px;
    margin-right: 12px; }
  #list-product-page #product-category {
    padding: 16px 16px;
    height: 100%;
    width: 100%;
    font-family: "Roboto","Helvetica","Arial","sans-serif";
    position: relative;
    overflow: auto;
    margin-left: 16px; }
    #list-product-page #product-category h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
      color: #203f5a; }
    #list-product-page #product-category li {
      margin-bottom: 8px;
      font-size: 14px; }
    #list-product-page #product-category li:hover a {
      color: #c39e51; }
    #list-product-page #product-category ul:last-child {
      margin-bottom: 24px; }
    #list-product-page #product-category .rate-category .star-light {
      color: #FFFF00;
      font-weight: bold; }
    #list-product-page #product-category .rate-category .star-dark {
      color: #606060;
      font-weight: bold; }
    #list-product-page #product-category .rate-category li {
      padding-left: 16px;
      border: 1px solid #c39e51;
      border-radius: 12px;
      background-color: #ccc; }
    #list-product-page #product-category .rate-category li:hover {
      background-color: #fff; }
    #list-product-page #product-category .rate-category span {
      padding-left: 8px; }
    #list-product-page #product-category .value-category div {
      background-color: #ccc;
      margin-bottom: 8px;
      border-radius: 12px;
      padding-left: 16px;
      border: 1px solid #c39e51;
      font-size: 14px; }
    #list-product-page #product-category .value-category div:hover span {
      color: #c39e51; }
    #list-product-page #product-category .value-category div:hover {
      background-color: #fff; }
  #list-product-page #page-route nav ol {
    height: 40px;
    line-height: 40px;
    padding-left: 20px; }
  #list-product-page #page-route a:hover {
    color: #c39e51; }
  #list-product-page .d-block {
    border-radius: 8px;
    height: 370px;
    overflow: hidden; }
  #list-product-page #product-name {
    height: 44px;
    padding-left: 24px;
    font-size: 24px;
    font-weight: 600;
    color: #c39e51; }
  #list-product-page #product-category {
    border: 2px solid #c39e51;
    width: 230px;
    border-radius: 8px;
    margin-right: 12px; }
  #list-product-page #product-area {
    height: auto; }
    #list-product-page #product-area .product-slider {
      height: 350px;
      margin-right: 16px;
      margin-left: 16px; }
      #list-product-page #product-area .product-slider img {
        object-fit: cover; }
    #list-product-page #product-area .product-filter {
      padding-top: 16px;
      margin-bottom: 8px;
      margin-top: 32px; }
      #list-product-page #product-area .product-filter a {
        color: #000; }
      #list-product-page #product-area .product-filter ul {
        display: flex;
        list-style-type: none;
        padding: 0 0;
        margin-bottom: 3px; }
      #list-product-page #product-area .product-filter li {
        display: inline-block;
        width: 100px;
        height: 50px;
        line-height: 50px;
        padding: 0 12px;
        text-align: center;
        font-weight: 600; }
      #list-product-page #product-area .product-filter .filter-pane {
        height: 4px;
        background-color: #c39e51;
        display: none; }
      #list-product-page #product-area .product-filter .active .filter-pane {
        display: block; }
      #list-product-page #product-area .product-filter li:hover {
        color: #c39e51; }
      #list-product-page #product-area .product-filter li:hover .filter-pane {
        display: block; }
    #list-product-page #product-area #product-list .product-item {
      padding: 12px 16px; }
      #list-product-page #product-area #product-list .product-item .card {
        border: none;
        box-shadow: 0 0 8px #c39e51; }
        #list-product-page #product-area #product-list .product-item .card .card-body {
          padding: 4px 12px; }
        #list-product-page #product-area #product-list .product-item .card .card-title {
          padding: 4px 0;
          font-size: 18px;
          font-weight: 500; }
        #list-product-page #product-area #product-list .product-item .card .price-value, #list-product-page #product-area #product-list .product-item .card .discount-value {
          display: inline-block;
          color: #FF424E;
          font-weight: 500; }
        #list-product-page #product-area #product-list .product-item .card .discount-value {
          border: 1px solid #FF424E;
          font-size: 12px;
          margin-left: 6px;
          padding: 1px; }
      #list-product-page #product-area #product-list .product-item .card-img-top {
        height: 230px;
        object-fit: cover; }
      #list-product-page #product-area #product-list .product-item .card-body {
        height: 150px; }
    #list-product-page #product-area #product-list .product-item:hover .card {
      box-shadow: 0 0 20px #c39e51;
      margin: -4px; }
    #list-product-page #product-area #pagination {
      border: 2px solid #c39e51;
      border-radius: 8px; }
      #list-product-page #product-area #pagination ul {
        display: block;
        padding: 8px 0; }
      #list-product-page #product-area #pagination li {
        display: inline-block;
        font-size: 20px;
        margin: 0 8px;
        padding: 0 8px; }
      #list-product-page #product-area #pagination .active {
        background-color: #c39e51;
        border-radius: 10%;
        color: #fff; }
      #list-product-page #product-area #pagination .btn {
        display: none; }
      #list-product-page #product-area #pagination .btn.act {
        display: inline-block; }
