<div id= "footer">

    <div class="brand-name text-center">
        LivreCafé
    </div>

    <div class="slogan text-center font-italic">
        <p>"Âm nhạc không chỉ để nghe, âm nhạc còn là music"</p>
        <p>"Livre cafe, hãy uống theo cách của bạn, nhưng tính tiền theo cách của chúng tôi"</p>
    </div>

    <div class="contact ">
        <p><i class="ti-location-pin"></i>số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</p>
        <p><i class="ti-mobile"></i>Phone: <a href="tel:+00 151515">+00 151515</a> </p>
        <p><i class="ti-email"></i>Email: <a href="lirvecafe@mail.com">livre_cofee@mail.com</a> </p>
    </div>

</div>