<div id="header">

    <div id="main-header" class="row navbar d-flex flex-row justify-content-start">

        <a href="#" class="navbar-brand mx-0">
            <img src="/img/brand-logo.png" alt="logo-brand" width="80px" height="80px">
            <span id="name-brand">LivreCafé</span>
        </a>

        <div class="header-menu d-flex mx-3">
            <i class="header-icon ti-menu"></i>
            <div class="header-des">
                <span class="header-text">Danh mục</span><br>
                <span class="header-text">Sản phẩm</span>

            </div>

            <div id = "menu-list" class= "header-list">
                <ul>
                    <li><a href = '#'>Sách</a></li>
                    <li><a href = '#'>Coffee</a></li>
                    <li><a href = '#'>Working space</a></li>
                    
                </ul>
            </div>

        </div>

        <form class="form-inline col-6 row header-form">
            <input class="col-9 form-control " type="search" placeholder="Nhập để tìm kiếm..." aria-label="Search">
            <button class="btn col-2 search-btn" type="submit">Search</button>
        </form>

    
        <div id="header-notification">
            <a href = '#'>
                <i class="noti-icon ti-bell header-icon">
                    <span id = "noti-number" class = "header-number">2</span>
                </i>
            </a>
        </div>

        <div id="header-cart" class="col-1 text-center">
            <a href = '#'>
                <i class="header-icon ti-shopping-cart-full">
                    <span id = "cart-number" class = "header-number">3</span>
                </i>
            </a>
        </div>

         <div class="header-user d-flex ">
            <i class="header-icon ti-user ml-3 mr-1"></i>
            <div class="header-des">
                {{#if user}}   
                    <span class="header-text" id="user-name">{{user.username}}</span>
                {{else}}
                    <a class="header-text" id = "login-text" href="/auth/index">Đăng nhập</a>
                {{/if}}
            </div>

            <div id = "user-list" class= "header-list">
                <ul>
                    <li><a href = '#'>Tài khoản</a></li>
                    <li><a href = '#'>Đăng xuất</a></li>
                </ul>
            </div>

        </div>

    </div>

</div>