<link rel="stylesheet" href="/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/product.css">
<div id="header">

<<<<<<< HEAD
    <div id="main-header" class="row navbar d-flex flex-row justify-content-start clearfix">

        <a href="#" class="navbar-brand">
            <img src="/img/brand-logo.png" alt="logo-brand" width="80px" height="80px">
            <span id="name-brand">LivreCafé</span>
        </a>

        <div class="header-menu d-flex">
=======
    <div id="main-header" class="row navbar d-flex flex-row justify-content-start align-items-center">

       <div class="d-flex justify-content-start align-items-center" style="flex: 3">
            <a href="#" class="navbar-brand mx-0 d-flex align-items-center justify-content-between">
                <img src="/img/brand-logo.png" alt="logo-brand" width="80px" height="80px">
                <span id="name-brand">LivreCafé</span>
            </a>

        <div class="header-menu d-flex mx-3 align-items-center">
>>>>>>> ce3e2258f660a10be1dddaade88b4d8f86deb523
            <i class="header-icon ti-menu"></i>
            

            <div id = "menu-list" class= "header-list">
                <ul>
                    <li><a href = '/books/list'>Sách</a></li>
                    <li><a href = '/coffee/list'>Coffee</a></li>
                    <li><a href = '#'>Working space</a></li>
                    
                </ul>
            </div>

        </div>

<<<<<<< HEAD
        <form class="form-inline col row header-form">
=======
        <form class="form-inline col col-9 row header-form">
>>>>>>> ce3e2258f660a10be1dddaade88b4d8f86deb523
            <input class="col-9 form-control " type="search" placeholder="Nhập để tìm kiếm..." aria-label="Search">
            <button class="btn col-2 search-btn" type="submit"><i class = "header-search-icon ti-search"></i>Search</button>
        </form>
       </div>

    
       <div class="d-flex justify-content-between .align-items-center">
            <a href = '#'>
                <i class="noti-icon ti-bell header-icon">
                    <span id = "noti-number" class = "header-number">2</span>
                </i>
            </a>
        </div>

        <div id="header-cart" class="col-1 text-center .align-items-center">
            <a href = '#'>
                <i class="header-icon ti-shopping-cart-full">
                    <span id = "cart-number" class = "header-number">3</span>
                </i>
            </a>
        </div>

<<<<<<< HEAD
         <div class="header-user d-flex">
=======
         <div class="header-user d-flex .align-items-center">
>>>>>>> ce3e2258f660a10be1dddaade88b4d8f86deb523
            <i class="header-icon ti-user ml-3 mr-1"></i>
            <div class="header-des">
                {{#if user}}   
                    <span class="header-text" id="user-name">{{user.username}}</span>
                {{else}}
                    <a class="header-text" id = "login-text" href="/auth/index">Đăng nhập</a>
                {{/if}}
            </div>

            <div id = "user-list" class= "header-list">
                <ul>
                    <li><a href = '#'>Tài khoản</a></li>
                    <li><a href = '#'>Đăng xuất</a></li>
                </ul>
            </div>

        </div>

       </div>
    </div>

</div>