
{{#each errors}}
        <p>{{this}}</p>
{{/each}}

<form action="/users/save" method="POST" enctype="multipart/form-data">
    <div class="form-group"> <label class="form-control-label text-muted">firstname</label> <input type="text"
            id="firstname" name="firstname" placeholder="" class="form-control"> </div>
    <div class="form-group"> <label class="form-control-label text-muted">lastname</label> <input
            id="psw" name="lastname" placeholder="" class="form-control"> </div>
    <div class="form-group"> <label class="form-control-label text-muted">email</label> <input id="psw"
            name="email"  class="form-control"> </div>
    <div class="form-group"> <label class="form-control-label text-muted">phone</label> <input type="" id="psw"
            name="phone"  class="form-control"> </div>
    <div class="form-group"> <label class="form-control-label text-muted">username</label> <input type="" id="psw"
            name="username"  class="form-control"> </div>
    <div class="form-group"> <label class="form-control-label text-muted">password</label> <input type="password"
            id="password" name="password"  class="form-control"> </div>
    <div class="form-group"> <label class="form-control-label text-muted">avatar</label> <input type="file" id="psw"
            name="avatar"  class="form-control"> </div>
    
    <button class="btn btn-primary" type="submit">Sign up</button>
</form>