
{{#each errors}}
        <p>{{this}}</p>
{{/each}}


<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo d-flex align-items-center">
      <img src="/img/brand-logo.png" alt="logo-brand" class="logo__shape" width="80px" height="80px">
      <h1 class="logo__text" style="margin-bottom: -20px">LirveCafe is all you need for a long day</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary" style="color: black; font-weight: 600">Welcome to LirveCafe</h1>
      <h2 class="heading--secondary" style="color: #543838; font-weight: 400">Are you ready to join the lirvecafe group ?</h2>
    </div>
    <div class="thumbnail__links">
      <ul class="list-inline m-b-0 text-center">
        <li><a href="http://alexdevero.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
        <li><a href="https://www.behance.net/alexdevero" target="_blank"><fa class="fa fa-behance"></fa></a></li>
        <li><a href="https://github.com/alexdevero" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/alexdevero" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
         
    <form  action="/users/save" method="POST" enctype="multipart/form-data">
              <div class="form-group">
        <label for="firstname">Firstname</label>
        <input class="form-control" type="text" name="firstname" id="firstname" placeholder="Long" required />
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Lê Thành" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="lirvecafehust@gmail.com" required />
      </div>
        <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="JJLee" required />
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input class="form-control" type="text" name="phone" id="phone" placeholder="(84+)969973023" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
      </div>
      <div class="form-group">
        <label for="passwordRepeat">Repeat Password</label>
        <input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="********" required />
      </div>

       <div class="form-group">
        <label for="avatar">Avatar</label>
        <input class="form-control" type="file" name="avatar" id="avatar" placeholder="********" required />
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Register" />
          </li>
          <li>
            <a class="signup__link" href="#">I am already a member</a>
          </li>
        </ul>
      </div>
    </form>  
  </div>
</div>